// @import "zurb/shared";

// IE styles
//----------------------------------------------
//
// IE specific styles less than IE9. We hate IE.

div.panel {
  border: 1px solid #cccccc; }

.lt-ie8 {
  .nav-bar li.has-flyout a {
    padding-right: 20px;
    &:after {
      border-top: none; } } }

// Correct IE7 button padding
.lt-ie8 input[type=submit].nice.button {
  filter: chroma(color = black);
  position: relative;
  top: -2px; }

.lt-ie8 input[type=submit].tiny.button {
  padding: 5px 5px 7px; }

.lt-ie8 input[type=submit].small.button {
  padding: 8px 7px 9px; }

.lt-ie8 input[type=submit].medium.button {
  padding: 9px 13px 9px; }

.lt-ie8 input[type=submit].large.button {
  padding: 9px 18px 10px; }
