body{
	height: 100%;
	background-color: #ccc;
}

a{
	color: $brand-color;
}

p{
	color: $color-text;
	margin-bottom: 1em;
}

strong{
	font-weight: bold;
}
em{
	font-style: italic;
}
/**
* Global page elements
**/

.punt-container{
	// border: 1px solid red;
}

.punt, .punt-clone{
	@include border-radius( 50% );
	color: white;
	line-height: 1px;
	text-align: center;
	// @include box-shadow( 1px 1px 1px rgba( 0,0,0,0.2), -1px -1px 1px rgba( 255,255,255,0.2));
}
.punt-clone{
	// @include background( radial-gradient( rgba(255,0,0,0.8), rgba(255,0,0,0) 100%) );
}

.punt{
	line-height: 100px;
	background-color: red;
}