/*
* The Layout partial should only contain styles relating to global layout.
* As a rule of thumb these are the styles that would change in a responsive
* layout.
*/


/**
* Global page elements
**/
body{
	height: 100%;
}

.punt{
	width: 100px;
	height: 100px;
	margin: auto auto;
	position:absolute;
	top:50%;
	margin-top:-50px;
	left: 50%;
	margin-left: -50px;
}

.punt-container{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
}

.punt-clone{
	// width: 100px;
	// height: 100px;
	position: absolute;
}