/*
* The Typography partial should only contain styles relating to typography.
* Fonts, letterspacing, lineheights, blabla.
*/

// @font-face {
// 	font-family: 'FrancoisOneRegular';
// 	src: url('../fonts/francois-one-fontfacekit/FrancoisOne-webfont.eot');
// 	src: url('../fonts/francois-one-fontfacekit/FrancoisOne-webfont.eot?#iefix') format('embedded-opentype'),
// 		 url('../fonts/francois-one-fontfacekit/FrancoisOne-webfont.woff') format('woff'),
// 		 url('../fonts/francois-one-fontfacekit/FrancoisOne-webfont.ttf') format('truetype'),
// 		 url('../fonts/francois-one-fontfacekit/FrancoisOne-webfont.svg#FrancoisOneRegular') format('svg');
// 	font-weight: normal;
// 	font-style: normal;

// }

@mixin font-francois{
	font-family: 'FrancoisOneRegular', Helvetica, Arial, sans-serif;
}

body{
	font: #{$base-font-size}px/#{$base-line-height}px "Helvetica Neue", Helvetica, Arial, sans-serif;

	}

// h1, h2, h3, h4, h5, h6{
// 	@include font-francois;
// }

h1{ font-size: $h1-size +px; font-weight: bold; }
h2{ font-size: $h2-size +px; }
h3{ font-size: $h3-size +px; }
h4{ font-size: $h4-size +px; }
h5{ font-size: $h5-size +px; }
h6{ font-size: $h6-size +px; }