/*------------------------------------*\
    $VARS - inuit
\*------------------------------------*/
/**
 * Set up project-specific variables here which are then used throughout your
 * build. These variables are automatically picked up by inuit.css so you should
 * never need to modify any framework code.
 */


/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:        false;


/**
 * Base stuff
 */
$base-font-size:    14!default;
$base-line-height:  18!default;


/**
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;


/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96!default;
$mega-size:         72!default;
$kilo-size:         48!default;

$h1-size:           36!default;
$h2-size:           18!default;
$h3-size:           16!default;
$h4-size:           14!default;
$h5-size:           14!default;
$h6-size:           14!default;

$milli-size:        12!default;
$micro-size:        10!default;


/**
 * Brand stuff
 */
$brand-color:       #0000ff!default;
$brand-face:        "Helvetica Neue", sans-serif!default;


/**
 * We need to supply a full code font-stack in order to combat this:
 * jsfiddle.net/csswizardry/uD6UW
 */
$code-face:         Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace!default;

/*------------------------------------*\
    $VARS - general
\*------------------------------------*/

$color-headings:	#000;
$color-text: 		#666;
$color-links: 		#fff;

$column-width:		200px;
$column-margin:		25px;
$column-padding: 	10px;

@mixin shades{
	@include box-shadow( 3px 3px 6px rgba(0,0,0,0.5));
}

@mixin small-article-dimensions{
	width: $column-width;
	padding: $column-padding;
	margin-right: $column-margin;
	margin-bottom: $column-margin;
}

@mixin hoverstyle{
	@include transition( background-color 0.5s ease );
	&:hover{
		background-color: blue;
		@include box-shadow( 1px 1px 6px rgba(0,0,0,0.5));
	}
}